.giftno {
    background-color: #808080;
    color: white;
}
.gift {
    background-color:yellow;

}
.sandy {
    background-color: chartreuse;
    border-radius: 100px;
}
.amber {
    background-color: blue;
    border-radius: 100px;
}
.leon {
    background-color: blueviolet;
    border-radius: 100px;
}
.crow {
    background-color: red;
    border-radius: 100px;
}
.spike {
    background-color:gold;
    border-radius: 100px;
}.sandys {
    background-color: chartreuse;
    border-radius: 100px;
}
.ambers {
    background-color: blue;
    border-radius: 100px;
}
.leons {
    background-color: blueviolet;
    border-radius: 100px;
}
.crows {
    background-color: red;
    border-radius: 100px;
}
.spikes {
    background-color:gold;
    border-radius: 100px;
}